<div id="transkribus-options" class="engine-options engine-help {% if engine != 'transkribus' %}hidden{% endif %}">
	<a href="https://readcoop.eu/transkribus/public-models">{{ msg('transkribus-browse-public-models') }}</a>
	<br />
	<a href="https://w.wiki/6PJ5" target="_blank">{{ msg('transkribus-request-for-model') }}</a>
</div>