name: CI

on: [push, pull_request]

jobs:
  build:

    env:
      APP_ENV: test
    
    strategy:
      matrix:
        php: [ '7.3', '7.4', '8.0', '8.1' ]

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{matrix.php}}
        coverage: none
        extensions: ast

    - name: Install tesseract
      # Note: libopenjp2-7 is already installed, but it's apparently corrupted
      run: |
        sudo apt-get update
        sudo apt-get install -y tesseract-ocr-all

    - name: Install wikimedia-ocr
      run: |
        composer install
        npm ci
   
    - name: Test
      run: |
        composer test
        npm run test
        git status
        git status | grep "nothing to commit, working tree clean"
